<!DOCTYPE html>
<html lang="en">
<head>
    <title>CulinaryEats</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>

<body>


    <nav class="navbar is-mobile" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
      <a href="/"><h1>CulinaryEats</h1></a>
    {{!-- <a class="navbar-item" href="https://bulma.io">
      <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
    </a> --}}

    <a role="button" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

   <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start" >
      <a class="navbar-item" href="/">
        Home
      </a>

      <a class="navbar-item" href="/all-dishes">
        All Recipies
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Categories
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item" href="/American">
            American
          </a>
          <a class="navbar-item" href="/Chinese">
            Chinese
          </a>
          <a class="navbar-item" href="/Mexican">
            Mexican
          </a>
           <a class="navbar-item" href="/Italian">
            Italian
          </a>

          <hr class="navbar-divider">
          <a class="navbar-item" id="logout">
            Logout
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-light is-link" href="/signup">
            <strong>Sign up</strong>
          </a>
          <a class="button is-light" href="/login">
            Log in
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
    



<!-- Page content -->
      <main>
        {{{ body }}}
      </main>

  <!-- Project Section -->
  <div class="w3-container w3-padding-32" id="Top Recipies">
    <h2 align="center" class="w3-border-bottom w3-border-light-grey w3-padding-16"><b>Top Recipies</b></h2>
  </div>

  <div class="w3-row-padding">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">Gnocchi</div>
        <img src="gnocchi (3).png" alt="Gnocchi" style="width:75%">
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">Chile en Nogada</div>
        <img src="chile_en_nogada.jpg" alt="Chile en Nogada" style="width:75%">
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">Pork Belly</div>
        <img src="pork_belly.jpg" alt="House" style="width:75%">
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">Bibimbap</div>
        <img src="bibimbap.jpg" alt="Bibimbap (Korean Rice Bowl)" style="width:75%">
      </div>
    </div>
  </div>



 
  
<!-- Image of location/map -->
<!-- <div class="w3-container">
  <img src="assets/" class="w3-image" style="width:100%">
</div> -->

<!-- End page content -->
</div>


<!-- Footer -->
<footer class="w3-center w3-black w3-padding-16">
  <p>Made with <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-heart-fill" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
  </svg>
      <a href="https://github.com/Dherington1/CulinaryEats" title="Fab5 Footer" target="_blank" class="w3-hover-text-orange"> by The_Fab5</a></p>
</footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>




      
     
    </div>

    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
  </body>
</html>
