<div class="container is-mobile">

  



  {{#each posts as |post|}}
<div class="recipe-card">
    <h1 align="center" class="recipe-card__heading">{{post.title}}</h1><br>

  <div class="recipe-card__body">
    <!-- <h2 class="recipe-card__subhead">Crunchy around the edges, softer in the center, these oatmeal cookies feature the nutty taste and nubbly texture of oats. </h2> -->
    
    <ul class="recipe-card__nav w3-padding">

      <li>
        <h3><b>Description: </b></h3>
      </li>
       <ul>
        {{post.description}}
      </ul>

      <br>

      <li>
        <h3><b>Ingredients:</b></h3>
      </li>
      <ul class="recipe-card__ingredients">
        {{post.ingredients}}
      </ul>

      <br>

      <li>
        <h3><b>instructions:</b></h3>
      </li>
      <ul>
        {{post.instructions}}
      </ul>
    </ul>

  </div>
  
</div>
{{/each}}
      
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</div>