<div class="recipe-card">

  <div style="background:url(https://images.pexels.com/photos/3864682/pexels-photo-3864682.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500) no-repeat 50% 50%; background-size:cover; height: 150px"></div>
  <h1 align="center" class="recipe-card__heading">American</h1><br>

</div>
 


{{#each posts as |post|}}
<div class="recipe-card">
    <h1 align="center" class="recipe-card__heading">{{post.title}}</h1><br>

  <div class="recipe-card__body">
    <!-- <h2 class="recipe-card__subhead">Crunchy around the edges, softer in the center, these oatmeal cookies feature the nutty taste and nubbly texture of oats. </h2> -->
    
    <ul class="recipe-card__nav w3-padding">
      <li>
        <h3><b>Ingredients:</b></h3>
      </li>

      <ul class="recipe-card__ingredients">
        {{post.ingredients}}
       
      </ul>

    <br>

      <li>
        <h3><b>instructions:</b></h3>
      </li>

    {{post.instructions}}

  </div>
  
</div>
{{/each}}
