<div class="recipe-card">
  <div style="background:url(https://images.pexels.com/photos/6659692/pexels-photo-6659692.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500) no-repeat 50% 50%; background-size:cover; height: 150px"></div>
  <div class="recipe-card__body">
    <h1 class="recipe-card__heading">Italian</h1><br>

    
    <!-- <h2 class="recipe-card__subhead">Crunchy around the edges, softer in the center, these oatmeal cookies feature the nutty taste and nubbly texture of oats. </h2> -->
    
    <ul class="recipe-card__nav w3-padding">
      {{#each posts as |post|}}
      <li>
        <h3>Ingredients</h3>
      </li>

      <ul class="recipe-card__ingredients">
        {{post.ingredients}}
        <li>&frac14; cup unsalted butter</li>
        <li>&frac14; cup vegetable shortening</li>
        <li>&frac12; cup light brown sugar</li>
        <li>&frac14; cup granulated sugar</li>
        <li>1 teaspoon vanilla extract</li>
        <li>1 &frac14; teaspoons ground cinnamon</li>
         <li>&#8539; teaspoon ground nutmeg</li>
      <li>1/2 teaspoon salt</li>
      <li>1 teaspoon cider or white vinegar*</li>
    <li>1 large egg</li>
      <li>&frac12; teaspoon baking soda</li>
      <li>&frac34; cup All-Purpose Flour</li>
      <li>1 &frac12; cups rolled oats</li>
      <li>1 cup golden raisins, optional</li>
      </ul>
      <br>
      <li>
        <h3>Directions</h3>
      </li>
    </ul>

    <br>
    {{post.instructions}}

    1. Place the unpeeled potatoes in a large pot. Fill the pot with enough cold water to cover the potatoes by at least 2 inches. Bring to a simmer
                        over medium-high heat. Reduce the heat to medium, partially cover the pot, and simmer the potatoes until they are completely tender and easily pierced with a fork, about 30 to 35 mins.
                        <br>2. Drain the potatoes and let them cool just enough that you can handle them. Gently peel the potatoes. Cut them in half crosswise and pass them through a ricer. You can mash them as 
                        you would normally do for mashed potatoes, but a ricer is more effective at creating a smooth mash. Let cool until almost at room temperature, at least 20 mins.
                        <br>3. Lightly flour your work surface. In a medium bowl, combine the flour, salt, and potatoes mash. Using your heads, combine all the ingredients until a dough is formed. Press the dough into
                        the bowl until you have a unified mass. 
                        <br>4. Place said mass onto your work surface. Knead gently until the flour is fully incorporated and the dough is soft and smooth, about 30 secs. to 1 min. WARNING: DO NOT OVERWORK YOUR DOUGH!
                        Doing so will create tough gnocchi, which are not pleasant. Set dough aside and place a clean kitchen towel over it to prevent it from drying out. 
                        <br>5. Remove any remaining bits 
                        of dough from your work surface. Re-flour the surface. Tear off a piece of dough about the size of a large lemon and put the towel back onto the remaining dough.
                        <br>6. With the palm of both hands, roll the dough piece on the floured surface into a rope about 3/4 inch in diameter.
                        <br>7. With a sharp knife or bench knife, cut the rope crosswise every 3/4 inch to make roughly 3/4 inch square gnocchi. Arrange gnocchi in a single layer on parchment-covered baking sheets, making sure they do not touch.
                        <br>8. This step is optional. If you want to get that traditional gnocchi look, all you need is a fork (though having a gnocchi press makes life so much easier). Place your
                        fork on your work surface such that the tips of the fork are touching the work surface. Gently slide each gnocchi square from the base of the fork prongs to the top.
                        <br>9. Repeat steps 5-8 until you have run out of dough. When all gnocchi have been placed on the parchment lined baking sheets, sprinkle some flour on top of them.
                        NOTE: Gnocchi should be used within 2 to 3 hours of making if you are not planning on refrigerating or freezing them. You can serve freshly made gnocchi right away or within a couple of hours, or you can freeze them
                        for later use. Put the gnocchi in the freezer while they’re still on the baking sheets and freeze until they are hard to the touch, at least one hour. Transfer them to a large zip-top bag or several smaller bags and 
                        freeze for up to two months. Cook frozen gnocchi in boiling water in two batches. Frozen gnocchi cause the temperature of the cooking water to drop, so they’ll fall apart before the water returns to a boil if there 
                        are too many in the pot. Don’t refrigerate fresh gnocchi for more than two or three hours, as they tend to ooze water and become soggy.
    
                        
                   
  </div>
  {{/each}}
  
</div>
